@import "sassiness/cs_shake_mixins.scss";
@import "sassiness/cs_shake.scss";

.ball-answer{
  text-align: center;
  color: #00aedb;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 140%;
  position: relative;
  top: -8.7em;
  left: -1.8em;
  z-index: 100;
}


.answer-triangle {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border: 10em solid transparent;
    border-top: 13em solid black;
    left: 1em;
    top: 1em;
    z-index: 10;
}

html { 
  font-size: 1.5em; 
}
body { 
  font-size: 100%;
  line-height: 0.8; 
  background-color: black;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 98%;
}

#radial-center {
  /* fallback */
  background-color: #00aedb;
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#00aedb), to(#000000));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #00aedb, #000000);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #00aedb, #000000);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #00aedb, #000000);

  /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}

